* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

html, body {
  height: 100%;
}

.contact-icon {
  font-size: 4.0em;
}


.home-background {
  background: url("http://res.cloudinary.com/ddhp5wtg8/image/upload/c_scale,h_1080,w_1920/v1500269883/mike-dennler-173199_pzl83o.jpg");
  color: black;
  height: 100%;
}

.home-page {
  margin: auto;
  padding-top: 315px;
  padding-bottom: 120px;
}

.icon-pic {
  border-radius: 90%;
}

h1 {
  font-size: 5.0em;
}
.navbar {
  background-color: black;
  padding-left: 10%;
  padding-right: 10%;
  opacity: .8;
}
a {
  color: inherit;
  text-decoration: none;
}

.section-heading {
  padding: 0.750em 0 0.75em 0;
}
.thumbnail {
  background-color: #5698bf;
}
.portfolio-grid {
  background-color: #d6d4c9;
  padding: 50px 0px 100px 0px;
  margin: auto;
  font-family: 'Roboto Mono', monospace !important;
}

.bottom-pad {
  margin: -0.2em 0 0 0;
  padding: 0 3.0em 0 0;
}

.portfolio-img img{
  height: 220px;
  position: relative;
}
	ol, ul {
		list-style: none;
	}
ul.feature-icons {
        list-style: none;
        padding-left: 0;
    }

    ul.feature-icons li {
        text-decoration: none;
        display: inline-block;
        margin: 0 0 0.2em 0;
        padding: 0.35em 0 0 2.5em;
        position: relative;
        vertical-align: top;
        width: 8%;
    }

    ul.feature-icons li:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    ul.feature-icons li:before {
        background: #5698bf;
        border-radius: 100%;
        color: #5698bf;
        display: block;
        left: 0;
        line-height: 1.5em;
        text-align: center;
        top: 0;
        
}

.devicon-git-plain {
			  max-width: 5em;
				padding-top: 10px;
}

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

		.icon.featured {
			color: #EA8A95;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}

			.icon.featured:before {
				font-size: 6em;
			}

.about-grid {
  background-color: #b5bebf;
  padding: 50px 0px 70px 0px;
  margin: auto;
  font-family: 'Roboto Mono', monospace !important;
}

.about-grid h1 {
  padding-bottom: 25px;
}

.contact-grid {
  background-color: #b5bebf;
  padding: 50px 0px 0px 0px;
  margin: auto;
  
}

.contact-grid h1 {
  padding-bottom: 25px;
}
ul.contact-icons li {
        text-decoration: none;
        display: inline-block;
        margin: 0 0 1.6875em 0;
        padding: 0.35em 0 0 1.8em;
        position: relative;
        vertical-align: top;
    }
.last-item {
  padding: 50px 0 0 200px;
}

.roboto-font {
  font-family: 'Roboto Mono', monospace !important;

}

.lobster-font {
  font-family: 'Lobster', cursive !important;
}

.satisfy-font {
  font-family: 'Satisfy', cursive !important;
}

.cookie-font {
  font-family: 'Cookie', cursive !important;
}

.khula-font {
  font-family: 'Khula', sans-serif !important;
}

.copyright-text {
  float: right!important;
}

.heading a:hover, .heading a:active, .heading a:visited, .heading a:link {
  text-decoration: none;
  color: black;
}
