.inconsolata {
  font-family: 'Inconsolata', monospace;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.notosans {
  font-family: 'Noto Sans', sans-serif;
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.notoserif {
  font-family: 'Noto Serif', serif;
}
